@import './variables';
@import './config';
@import './components/sectionCard';
@import './components/backOfficeLayout';
@import './components/organizationData';
@import './components/button';
@import './components/card';
@import './components/formStyles';
@import './components/register';
@import './components/carousel';

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: $paragraph-family !important;
    box-sizing: border-box;
}

#root{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

iframe{
    display: none;
}