@media screen and (max-width: 1023px){

    .new-table{
        padding: 10px;
    }
    
    .create-new-btn {
        text-align: center;
    }

    .table-new-img {
        width: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .new-backoffice-container {
        margin: 20px;
    }

    .new-table {
        margin: 0 auto;
        width: 80vw;
        padding: 10px;
    }

    .create-new-btn {
        text-align: center;
    }

    .table-new-img {
        width: 100px;
    }
}