.login {
    display: flex;
    flex-direction: row;
}

.login-form {
    flex-grow: 1;
}

.img-login {
    width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.form-container a:link,
.form-container a:visited,
.form-container a:active {
    text-decoration: none;
    color: #FF0000;
}

@media screen and (max-width: 1023px) {
    body {
        background-color: #F1F1F1;
    }
    .no-display-mobile {
        display: none;
    }
    .logo-login {
        width: 50%;
        max-height: 226px;
        max-width: 226px;
        margin-left: auto;
        margin-right: auto;
    }
    .go-to-log {
        text-align: center;
        margin-top: 10vh;
    }
}


@media screen and (min-width: 1024px) {

    #logo {
        display: none;
    }

    .form-container {
        width: 50%;
        margin: 20px auto;
    }

    .form-container-login {
        width: 50%;
        margin: 200px 25%;
    }

    .welcome-text {
        text-align: center;
        margin-top: 10vh;
    }

    .img-login {
        width: 50%;
        height: 100vh;
        object-fit: cover;
    }

    .logo-login {
        display: none;
    }
    .go-to-log {
        text-align: center;
        margin-top: 10vh;
    }
}