.card {
    margin: 40px;
}

.cardH1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin-left: 600px;
}

.list-container {
 display: flex;
 flex-wrap: wrap;
 width: 1366px;
 margin-left: 40px;
}

.cardAct {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 233px;
    background-color: #adb6d8;
    margin: 15px;
    border-radius: 8px;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.imgCard {
    max-width: 196px;
    height: 201px;
    border-radius: 28px; 
    padding-left: 12px;
    padding-top: 15px;
    padding-right: 8px;
    overflow: hidden;
}

.titleH3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #383B58;
}

.description {
    max-width: 196px;
    height: 153px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}

button.verMas {
    width: 170px;
    height: 38px;
    background-color: #0038FF;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #0038FF;
}

.cardAct1 {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 233px;
    background-color: #adb6d8;
    margin-left: 480px;
    margin-top: 50px;
    border-radius: 8px;
}

.home {
    width: 170px;
    height: 38px;
    background-color: #0038FF;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #0038FF;
    margin-left: 640px;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {

    .list-container {
        display: grid;     
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        max-width: 100%;
        margin: 30px auto;
       }
       

    .cardAct {
        display: flex;
        background-color: #adb6d8;
        border-radius: 8px;
    }
    
}

@media screen and (max-width: 485px) {

    .list-container {
        display: grid;     
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        max-width: 100%;
        margin: 30px auto;
       }
       

    .cardAct {
        display: flex;
        background-color: #adb6d8;
        border-radius: 8px;
    }
    
}


@media screen and (max-width: 485px) {

    .cardAct1 {
        margin-left: 40px;
    }
    
    .cardH1 {
        margin-left: 170px;
        margin-top: 30px;
    }

    .home {
        margin-left: 150px;
    }
    
}