.form-container {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container a:link,
.form-container a:visited,
.form-container a:active {
    text-decoration: none;
    color: #FF0000;
}

.error {
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
}

#contribuir {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    gap: 5px;
}

.donar-btn {
    max-width: 5rem;
}

#logo {
    min-width: 150px;
    max-width: 250px;
}

.input-field {
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
}

.input-error {
    border-color: #fc8181;
}

::placeholder {
    color: #B0B0B0;
}

.select-field {
    padding: 10px;
    border: 1px solid #c1c1c1;
}

.submit-btn {
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 15px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #3498DB;
}

.form-container .registrar {
    cursor: pointer;
    position: center;
    font-size: 18px;
    right: 800px;
    top: 250px;
}

.form-container-login .registrar {
    cursor: pointer;
    position: center;
    font-size: 18px;
    right: 800px;
    top: 250px;
}


h1,
h2 {
    font-family: 'IBM Plex Serif';
}

p {
    font-family: 'Lato';
}

button:disabled {
    opacity: 0.35;
}

.subscribe-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    width: 10em;
    height: 2.5em;
}

@media screen and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .no-display-mobile {
        display: none;
    }

    .form-container- {
        width: 50%;
        margin: 20px 5%;
    }
}
@media screen and (min-width: 1024px) {
    
    #contribuir {
        gap: 10px;
    }

    #logo {
        display: none;
    }

    .register {
        display: flex;
        flex-direction: row;
    }

    #go-to-login {
        text-align: center;
        margin-top: 10vh;
    }

    .register-form {
        flex-grow: 1;
    }
    
    .form-container {
        width: 50%;
        margin: 20px auto;
    }

    .welcome-text {
        text-align: center;
        margin-top: 10vh;
    }

    .img-register {
        width: 50%;
        max-height: 100%; 
        object-fit: cover;
    }

    .input-field {
        border-radius: 5px;
    }

    .submit-btn {
        border-radius: 5px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5vh;
        background-color: #FF0000;

    }

    .navbar>h2 {
        color: #fff;
    }
}