.form-container {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container a:link,
.form-container a:visited,
.form-container a:active {
    text-decoration: none;
    color: #FF0000;
}

.error {
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 5px;
}

.select-error {
    padding: 10px;
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}

#contribuir {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5%;
}

.donar-btn {
    width: 30%;
    min-width: 100px;
    max-width: 120px;
}

.contact-container > input[type=text], input[type=email], textarea {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-logo {
    width: 80%;
    max-width: 200px;
    align-self: center;
}

#logo {
    min-width: 150px;
    max-width: 250px;
}

.input-field {
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
}

.input-error {
    border-color: #fc8181;
    color: #fc8181;
}

::placeholder {
    color: #B0B0B0;
}

.select-field {
    padding: 10px;
    border: 1px solid #c1c1c1;
}

.buttonsForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
}

.submit-btn {
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 15px;
}

.subscribe-btn {
    background-color: #FF0000;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 35px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #3498DB;
}

.goback-btn {
    background-color: #FFF;
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
    border-radius: 15px;
}

.goback-btn:hover {
    cursor: pointer;
    background-color: #3498DB;
    color: #FFF;
    border: none;
}

#home-goback-btn {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-goback-btn > button {
    max-width: 450px;
    width: 80%;
}

#home-goback-btn > button:hover {
    border: 1px solid #FFF;
}

#user_img {
    max-width: 100px;
    align-self: center;
}


.contact-data {
    padding: 0 5%;
}

.contact-data > a {
    color: red;
    font-size: 30px;
    margin: 0 2px;
}

.form-container .registrar { 
    cursor: pointer;
    position: center;
    font-size: 18px;
    right: 800px; top: 250px;
}

.input-slide {
    width: 100%;
    padding: 10px !important;
}

#slides-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#slides-home > li {
    text-align: center;
    width: 80%;
    position: relative;
    max-width: 450px;
}

#slides-home > li > img {
    border-radius: 10px;
    display:initial;
    margin: 10px 0;
    max-height: 300px;
}    

.slide-btn {
    width: 80%;
    align-self: center;
    max-width: 450px;
}

.upload-img-btn {
    width: 47px;
    background-color: white;
    position: absolute;
    left: 100%;
    top: calc(50% - 37px);
    font-size: 30px;
    border-radius: 20px;
}

.upload-img-btn:hover {
    cursor: pointer;
}


h1,
h2 {
    font-family: 'IBM Plex Serif';
}

p {
    font-family: 'Lato';
}

button:disabled {
    opacity: 0.35;
}

.subscribe-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    width: 10em;
    height: 2.5em;
}

@media screen and (max-width: 1023px) {

    body {
        background-color: #F1F1F1;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #go-to-login {
        text-align: center;
    }

    .no-display-mobile {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    .footer-container {
        display: flex;
        flex-direction: row;
    }

    .buttonsForm > button {
        min-width: 30%;
        border-radius: 5px;
    }

    .subscribe-form {
        min-width: 50%;
    }

    #contribuir {
        gap: 10px;
        padding: 0 10%;
    }

    .contact-container {
        margin: 20px 10% !important;
    }

    .contact-logo {
        display: none;
    }

    .contact-data {
        padding: 0 10%;
    }

    #logo {
        display: none;
    }

    #register {
        display: flex;
        flex-direction: row;
    }

    #go-to-login {
        text-align: center;
        margin-top: 10vh;
    }

    #register-form {
        flex-grow: 1;
    }

    .form-container {
        width: 50%;
        margin: 15px auto !important;
    }

    .form-container-login {
        width: 50%;
        margin: 200px 25%;
    }
    
    #welcome-text {
        text-align: center;
        margin-top: 10vh;
    }

    #img-register {
        width: 50%;
        max-height: 100%;
        object-fit: cover;
    }

    .input-field {
        border-radius: 5px;
    }

    .error {
        border-radius: 5px !important;
    }

    .submit-btn {
        border-radius: 15px;
    }

    #slides-home > li {
        width: 450px;
    }

    .slide-btn {
        min-width: 450px !important;
        width: 450px;
    }

    #home-goback-btn > button {
        border-radius: 5px;
    }

    .donar-btn {
        width: 100px;
        min-width: 130px !important;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5vh;
        background-color: #FF0000;

    }

    .navbar>h2 {
        color: #fff;
    }

    .buttonsForm {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 50px;
    }
}