@media screen and (max-width: 1023px){
    .member-image {
        width: 100px;
        min-height: 100px;
        object-fit: cover;
    }

    .card-members {
        width: 100vw;
    }

    .individual-card {
        margin: 10px;
    }

    .card-content {
        display: flex;
        gap: 30px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px){

    .member-image {
        width: 100px;
        min-height: 100px;
        object-fit: cover;
    }

    .card-members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .individual-card {
        width: 300px;
        height: 250px;
    }

    .card-content {
        display: flex;
        gap: 30px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
    }

    
}
