.layout-backoffice{
    display: grid;
    padding: 3rem ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    place-items: center;
    margin-top: 100px;
}

.backoffice-navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 5px 22px rgba(0,0,0, .2);
}

.drawer-links{
    display: flex;
    flex-direction: column;

    a{
        transition: all .2s ease-in-out;

        &:hover{
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}