.footer-link,
.footer-link:hover,
.footer-link:visited,
.footer-link:active {
    color: black;
}

.p-social-networks {
    color: black;
}

@media screen and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        background-color: #e5e5e5;
    }

    .footer-img {
        width: 100px;
    }

    .subscribe-form {
        width: 20vw;
    }

    .navigation-footer {
        width: 20vw;
        text-align: center;
    }

    .social-networks-footer {
        width: 20vw;
        margin: auto;
        display: block;
        text-align: center;

    }

    .logo-and-name-footer {
        width: 30%;
        margin: auto;
        display: block;
    }
}