@media screen and (max-width: 1150px) {
    .desk {
        display: none;
    }
    
    .resaltar {
        font-weight: bold;
    }

    .header-link {
        color: black;
    }
    
    .header-container {
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        height: 5em;
        background-color: white;
        position: relative;
        z-index: 2;
    }
    
    .header-logo {
        width: auto;
        height: auto;
        object-fit: contain;
    }
    
    nav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 1em;
    }
    
    .burger-menu {
        height: 100%;
        width: 4em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }
    
    .burger-bar {
        width: 4em;
        height: 0.5em;
        background-color: #FF0000;
        border-radius: 0.5em;
    }
    
    .menu {
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
    }
    
    .nav-links {
        width: 12em;
        height: calc(100vh - 70px);
        min-height: 380px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        font-size: x-large;
        gap: 10px;
        position: absolute;
        top: 70px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
    }

    .user-header {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .hidden {
        display: none;
    }
    
    .visible {
        display: inherit;
    }

    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0.75em, 1.25em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2) {
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(135deg) translate(-0.5em, 1em);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }
}

@media screen and (min-width: 1150px) {

    .mobile {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        font-size: large;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 40px 20px;
        justify-content: flex-end;
    }

    .user-header {
        display: flex;
        align-items: center;
        gap: 5px;

        #user-img-header {
            height: 32px;
            width: 32px;
        }
    }

    .header-link {
        color: #FF0000;
    }

    .resaltar {
        font-weight: bold;
    }

    .register-btn {
        background-color: #FF0000;
        color: white !important;
        border-radius: 30px;
        padding: 4px;
        height: 2em;
    }

    .login-btn {
        background-color: white;
        padding: 4px;
        height: 2em;
        border-radius: 30px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        margin-left: 10vw;

        @media (min-width: 1280px) {
            margin-left: 16vw;
        }
    }

    .header-logo {
        width: auto;
        height: auto;
        object-fit: contain;
    }
}