.listado {
    display: flex;
    justify-content: center;
}

.news-title {
    margin-top: 8em;
    text-align: center;
}

.news-search {
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.news-search-bar {
    width: 30vw;
    border-radius: 5px;
    border-style: solid;
    border-color: #c1c1c1;
}