.section-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 22px 0 rgba(0,0,0, .24);
    min-width: 260px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    border-radius: 10px;

    a {
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: $clr-terciary;
        color: $clr-backgroud;
        cursor: pointer;
        transition: all .3s ease-in-out;
        text-align: center;
        &:hover{
            transform: scale(0.90);
            box-shadow: 0 3px 22px 0 rgba(43, 119, 173, 0.341);
        }
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        h2{
            margin-bottom: 1rem;
            font-size: 1.6rem;
            letter-spacing: 2px;
        }

        svg{
            display: flex;
        }
    }
}