.users-table-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    height: 100%;

    .users-header-container {
        width: 95%;
        justify-content: space-between;

        @media (min-width: 800px) {
            width: 760px;
        }
    }

    .user-table {
        width: 95%;
        
        @media (min-width: 800px) {
            width: 760px;
        }
    }
}