.container{
    align-items: center;
}

.slides-form-container {
    width: 50%;
    margin: 20px 5%;
    align-items: center;
}

.slides-image-Preview{
    align-self: center;
    border: 2px solid rgba(0, 0, 0, 0.196);
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.slides-input-field {
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

.error {
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 15px;
}

.slides-error-message {
    color: red;
    font-size: 12px;
}

.input-order{
    width: 40%;
}

.slides-submit-btn {
    margin-top: 20px;
    width: 30%;
    background-color: #FF0000;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 15px;
    align-self: center;
}
.slides-box-button{
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .slides-form-container {
        width: 90%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .slides-input-field {
        width: 150%;
        padding: 15px 30px;
        border: 1px solid #c1c1c1;
        border-radius: 15px;
    }
    
    .slides-form-container {
        width: 50%;
    }
    
    .slides-preview-image-container{
        display: flex;
        flex-direction: column-reverse;
        align-content: flex-start;
    }

    .input-order{
        width: 80%;
    }
    
    .slides-box-button{
        width: 50%;
        align-self: center;
    } 
    .slides-submit-btn{
        align-self: center;
        width: 50%;
    }
}